<div class="container">
    <div class="content" [@fadeIn]>
        <div>
            <a (click)="toggleIcon('instagram')">Instagram:</a>
            <br>
            <img class="icon" *ngIf="showIcon === 'instagram'" src="/assets/ins.png">
        </div>
        <hr>
        <div>
            <a (click)="toggleIcon('whatsapp')">Whatsapp:</a>
            <br>
            <img class="icon" *ngIf="showIcon === 'whatsapp'" src="/assets/IMG_E5EBA12273EF-1.jpeg">
        </div>
        <hr>
        <div>
            <a (click)="toggleIcon('email')">Email:</a>
            <h3 class="icon" *ngIf="showIcon === 'email'">kimwu9419@gmail.com</h3>
        </div>
        <hr>
        <img src="/assets/kisstks.GIF">
    <h3 style="font-size: small;" >Please feel free to contact me anytime! <br>And thank you for your time here!<br> Have a wonderful day!</h3>

    </div>
</div>