nav {
    background-color: #0f0101;
    color: #fff;
    height:max-content;
    justify-content:baseline;
    font-family: headfont;
    font-size: x-large;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    display: flex; /* Align items horizontally */
    align-items: center; /* Vertically center the items */
    justify-content: space-between; /* Distribute items evenly */
  }
  
  li {
    margin: 10px;
  }
  
  a {
   
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .active {
    background-color: #555555; /* Highlight active route */
  }
  
@font-face {
  font-family: 'headFont';
  src: url('/assets/KakekakeitalicpersonaluseNmi-Rpz16.otf');

}