<nav>
    <ul>
        <img height="80px" src="/assets/welcomegif.gif">
        <li routerLinkActive="active current" routerLink="/">HOME</li>
        <li routerLinkActive="active current" routerLink="/cvdisplay">CV</li>
        <li routerLinkActive="active current" routerLink="/certificates">CERTIFICATES</li>
        <li routerLinkActive="active current" routerLink="/projects">PROJECTS</li>
        <li routerLinkActive="active current" routerLink="/about">ABOUT</li>
        <img height="80px" src="/assets/hihi.GIF">
    </ul>
</nav>