#container{
    margin:40px;
}
.certimod{
    padding:10px;
    margin:10px;
    border:2px solid;
    background-color:beige;
    border-radius: 10px;
    align-items: center;
}
.certimod iframe{
    width:80%;
    height:300px
}
.certimod img{
    margin: 10px;
}