<div class="container">
    <div id="content">
        <h1 class="topic"> Welcome to my personal website, and greetings !
            <img src="/assets/checkdown.GIF" style="width:30%;border-radius: 30%;text-align: center;">
        </h1>
        <br>
        <hr>
        <br><br>
        My name is <a class="name_a">Yuchen Wu</a> , but you can also call me <a class="name_a">Kim</a>. Prepare to
        embark
        on
        a journey through the whimsical and cute world of my digital domain.
        <br><br>


        As a master of <a class="tech_a">Information System Management</a> from <a class="co_a">CMU</a>, I possess a
        unique
        blend of software development
        prowess. I have an adorable personality that shines through in all my endeavors, especially in web development.
        During
        my internship, I participated in a mobile app project and successfully completed two web projects, got a great
        <a class="name_a">A+</a>
        in my
        capstone project grading,proving that
        capable can go hand in hand.

        <br><br>
        If you take a peek at my <a href="https://www.linkedin.com/in/yuchen-kim-wu-041544161/" class="name_a">LinkedIn profile</a>,
        you'll
        find that I am
        a competitve candidate of full-stack development, fluent in the languages of teamwork and optimism. I bring with
        me
        the
        ability to code in
        multiple programming languages and frameworks, all while maintaining a smile. Moreover, my experience with agile
        development methodologies and my knack for working harmoniously with cross-functional teams make me a charming
        candidate
        for any role.


        <br><br>
        <hr>

        During my time at <a class="co_a">Wisecar</a>, I had the pleasure of developing custom software solutions that
        brought a
        touch of
        enchantment to freelancers' reimbursement process. Through this enchanting journey, I gained valuable insights
        into
        the
        challenges faced by financial institutions and how the magic of technology can be harnessed to solve them.

        <br><br>
        But wait, there's more! Imagine a world where finance meets charm. As the <a class="name_a">President</a> of the
        <a href="https://www.linkedin.com/company/alpha-finance-society/" class="co_a">Heinz Alpha Finance Club</a> at
        Carnegie Mellon University and with
        experience working at <a class="co_a">KPMG</a>, I not only gained a deep understanding of finance but also
        discovered the magic that technology brings to the financial industry. This experience not only deepened my
        understanding of finance but also revealed the enchanting bond between finance and technology. With a degree in
        Information System Management and years of experience in software development, I am ready to sprinkle my
        adorable
        skills to contribute to the success of your team.

        <br><br>
        Thank you for considering my application, and get ready to be charmed!

        <br><br>I eagerly await the opportunity to discuss how my
        cute skills and delightful experiences can add a touch of magic to your team.
        <hr>

        <br><br>
        Please check my <a href="/cvdisplay">CV</a> for more detailed information of my educational and occupational
        experience!
        <br>Please check my <a href="/projects">PROJECTS</a> for the projects I have done and catch a match!
        <br>Please check the <a href="/about">ABOUT</a> page to contact me for further communication!

    </div>
    <img id="ending" src="https://media.tenor.com/Oeupz4utuBsAAAAM/bongo-cat-bongo-cat-toy.gif">
</div>